<% @product.reviews.reverse.each do |review| %>

  <tr>
    <td>
      <%= review.description %>
    </td>
    <td>
      <%= review.rating %>
    </td>
    <td>
      <%= review.updated_at.to_formatted_s(:long) %>
    </td>
    <td>
      <% user_temp = User.where(id: review.user_id) %>
      <%= "#{user_temp.first.first_name} #{user_temp.first.last_name}" %>

    <%if current_user%>
      <%if current_user == user_temp.first%>
        <div class="btn btn-danger btn-xs">
          <%= link_to "Delete", product_review_path(@product.id , review.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
        </div>
      <%end%>
    <%end%>
    </td>
  </tr>

<% end %>